#main-header {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 48px 110px;
    height: max-content;
    align-items: center;
}

#logotype {
    width: 200px;
    height: 55px;
}

#main-header ul {
    display: flex;
    flex-direction: row;
    align-content: center;
}

#main-header li {
    padding-left: 20px;
}
