#main-screen {
    height: calc(100vh - 100vh * 0.32);
    padding-left: 110px;
    padding-right: 20px;
}

.main-info {
    height: 100%;
    padding-top: 32%;
    width: calc(50% - 110px);
    position: relative;
}

#main-screen > h1 {
    margin-top: calc(100vh * 0.32);
    width: max-content;
}

#main-screen > a {
    color: #F9572E;
    position: absolute;
    left: 110px;
    bottom: 0;
    margin-bottom: 48px;
}

#main-screen > h4{
    color: black;
    margin-top: 27px;
    margin-bottom: 44px;
    width: max-content;
}

#main-screen > p{
    display: inline;
    margin-left: 31px;
    color: #666;
}



#main-screen aside {
    position: absolute;
    right: 20px;
    top: 20px;
    width: calc(50% - 20px);
    height: calc(100% - 40px);

    display: flex;
    justify-content: center;
    align-items: center;

    color: #F9572E;

    background-image: url(../img/backgrounds/Bitmap.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.play-btn {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #F9572E;
}

.play-btn .play-scale-element {
    transition: all 0.2s ease-in-out;
    transform-origin: 50% 50%;
}

.play-btn:hover .play-scale-element {
    transform: scale(1.2);
    
}


#extra-info-contaier{
    margin-top: 166px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 450px);
    column-gap: 80px;
}

#extra-info-contaier li{
    padding-top: 33px;
    padding-bottom: 95px;
    width: 450px;
}

#extra-info-contaier li.border-all {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;

}

#extra-info-contaier li:first-child{
    width: 100%;
    padding: 0;
    margin-bottom: 62px;
    grid-column: 1 / 3;
}

.img-slider-1 {
    margin-top: 184px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-container form {
    margin-left: auto;
    margin-right: auto;
}